
 @media only screen and (min-width: 992px){
    .container{
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-top: 10px;

    }
    .continer-link{
        background-color: bisque;
        padding: 30px;
        /* margin-right: 200px; */
        
    }
 }